<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/menstruation/menstruation.css">
    <script src="../../static/js/menstruation/menstruation.js"></script>
</head>
<body>
<div id="screen">
    <div id="title">生理期监视器</div>
    <div class="nothing"></div>
    <div class="graph">
        <iframe title="dx" width="100%" height="100%"
                src="https://app.powerbi.com/view?r=eyJrIjoiMzFhOWEwZmEtZGRlZC00YjdmLWJlNjgtMGRlZmYzODJhMGY0IiwidCI6IjY5YjZmNGFhLTkwYTAtNDk5NC04Njc3LTg4MjYwZDE5NzhkYSIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <div class="nothing2"></div>
    <div id="return_main_page">
        <div id="return-button" class="return-button">
            <span>&larr;</span>
        </div>
    </div>
</div>
</body>
</html>