<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>抢票手速检测机</title>
    {#    @formatter:off#}
    <script>
        var person_num = {{person_num}};
        var ticket_num = {{ticket_num}};
        var level_name = {{name|tojson}};
    </script>
    {#    @formatter:on#}
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="../../../static/css/game/transcending/main_transcending.css">
    <script src="../../../static/js/game/transcending/main_transcending.js"></script>
</head>
<body>
<div id="screen">
    <div id="title">抢票手速检测机</div>
    <div id="basic_information">
        <p id="basic_ticket">热门程度：{{ name }}</p>
        <p id="basic_person">抢票人数估计：{{ person_num }}</p>
        <p id="basic_ticket">票数预估：{{ ticket_num }}</p>
    </div>
    <div class="nothing"></div>
    <div class="operate_box">
        <div class="information_box">
            <p>准备！</p>
            <p>当前时间：<span id="timer">00:00:00</span></p>
            <p>开票时间：<span id="selectedNumber"></span></p>
            <p id="pad_of_box"></p>
            <button class="confirm_button" id="confirm">等待开票</button>
        </div>
    </div>
    <div id="result_sheet" class="result_sheet">
        <table id="resultTable">
            <thead>
            <tr>
                <th>名次</th>
                <th>获取时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="return_main_page">
        <div id="return-button" class="return-button">
            <span>&larr;</span>
        </div>
    </div>
</div>
</body>
</html>