<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="../../static/css/admin/login.css">
</head>
<body>
<div class="background"></div>
<div class="header">
    <h1>Admin Settings</h1>
</div>
<form method="post" action="/admin">
    <div id="exit-button" class="exit-button">
        <span>&times;</span>
    </div>
    <h2>Please Input Your Admin Username And Password</h2>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="admin">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="123">

        <input type="submit" value="Login">
    </form>
    <p>{{ message }}</p>
</form>
<script src="../../static/js/admin/login.js"></script>
</body>
</html>