* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "microsoft yahei";
    color: #999;
}

i {
    font-style: normal;
}

.txt-area {
    color: #333;
    margin: 8px 0;
}

#txt {
    display: block;
    width: 160px;
    margin: 0 auto;
}

.inside_picture {
    opacity: 60%;
}

.cake {
    font-family: Consolas, "Courier New", sans-serif;
    height: 27%;
    width: 100%;
    display: flex;
    position: relative;
}

.left_picture {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 28%;
    height: 55%;
}

.right_picture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
    height: 55%;
}

.cake-inner {
    display: block;
    width: 157px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight:bold;
    color: #e7fe01;
}

.cake-inner span i {
    color: #d800ff;
}
