@font-face {
    font-family: "CustomFont";
    src: url(../../../font/handle.ttf);
}

.sidebar {
    width: 97%; /* 盒子宽度 */
    height: 15%; /* 盒子高度 */
    /*margin: 0;*/
    /*padding: 0;*/
    /*opacity: 0.9;*/
    border: 5px solid;
    border-image: linear-gradient(to right, #B8860B, #FFD700);
    border-image-slice: 1 0 0 0;
    /*background-color: #d5d5d5;*/
    /*opacity: 0.8;*/
}

.nothing {
    width: 100%;
    height: 10%;
}

.list-item-main {
    padding: 0px 0; /* 列表项上下内边距 */
    color: #B8860B;
    font-weight: bold;
    font-size: large;
    align-items: center
}

.list-item {
    padding: 5px 0; /* 列表项上下内边距 */
    color: #B8860B;
    display: inline-block;
    font-size: 15px;
}

.scratch-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;
    height: 0%;
}

.dashed-line {
    flex-grow: 1;
    height: 2px;
    border-top: 2px dashed #FFD700;
}

.center-text {
    font-size: 9px;
    font-weight: bold;
    color: #B8860B;
}

.scratch {
    width: 97%;
    height: 55%;
    border: 5px solid;
    border-image: linear-gradient(to right, #B8860B, #FFD700);
    border-image-slice: 1;
    animation: fadeAnimation 2s forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.list-item::before {
    content: "❤";
    font-weight: bold;
}

#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background: url('https://pic.ntimg.cn/file/20201201/25556919_104441870000_2.jpg') no-repeat center center fixed;*/
    background: url('../../../picture/admin/kuromi_mobile_background.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5;
}

#warp {
    width: 87%;
    height: 33%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    padding: 3% 5% 10% 5%;
    border: 5px solid;
    border-image: linear-gradient(to right, #B8860B, #FFD700);
    border-image-slice: 1 0 1 0;
}

.grid-item {
    border: 5px solid;
    border-image: linear-gradient(to right, #B8860B, #FFD700);
    border-image-slice: 1;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.tips {
    height: 20%;
    width: 100%;
    position: relative;
}

.tips button {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 35px;
    border: 5px solid;
    border-image: linear-gradient(to right, #B8860B, #FFD700);
    border-image-slice: 1;
    font-size: 18px;
    background-color: #eaa80b;
    color: #800180;
    font-weight: bold;
}

.left-button {
    left: 0;
}
.mid-button {
    left: 40%;
}
.right-button {
    right: 0;
}

#title {
    text-align: center;
    background: linear-gradient(to right, #B8860B, #f30303);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "CustomFont", sans-serif;
    font-size: 38px;
}