<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Web of OraSun</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script>
        var chance = {{combine_list}}
    </script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div id="screen">
    <div id="title">董二狗的小网站</div>
    <div class="nothing"></div>
    <div class="function_sets">
        <a href="/mobile">
            <button id="button1">生日刮刮乐</button>
        </a>
        <a href="/828">
            <button id="button2" onclick="showWarning2()">抓娃娃</button>
        </a>
        <a href="/828">
            <button id="button3" onclick="showWarning3()">暴揍董二狗</button>
        </a>
        <a href="https://ys.mihoyo.com/">
            <button id="button4">Genshin</button>
        </a>
    </div>
    <div class="coins_tab">
        <div class="coins">
            <img id="coins_gif" class="inside_picture" src="../static/picture/pig.gif" alt="git" width="100"
                 height="100"/>
        </div>
    </div>
</div>
</body>
</html>