<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>birthday scratch card</title>
    <link rel="stylesheet" href="../static/css/mobile_operate.css">
    <link rel="stylesheet" href="../static/css/cake.css">
    {#    @formatter:off#}
    <script>
        var filter_json = {{combine_list | tojson}}
    </script>
    {#    @formatter:on#}
</head>
<body>
<div id="screen">
    <div id="title"> 董二狗生日快乐</div>
    <div class="nothing"></div>
    <div class="cake">
        <div class="left_picture">
            <img class="inside_picture" src="../static/picture/mld.png" alt="klm" width="105" height="99"
                 style="border: 1px solid #fcd7fc;">
        </div>
        <div class="cake-inner">
            <span id="candle">
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii<br>
			            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iiiiiii<br>
							      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iiiiiiiiiii<br>
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|~~~~~~~~~~~|<br>
            &nbsp;&nbsp;&nbsp;__|___________|__<br>
            &nbsp;&nbsp;|^^^^^^^^^^^^^^^^^|<br>
            &nbsp;&nbsp;|<span id="txtCake"> Happy&nbsp;&nbsp;Birthday </span>|<br>
            &nbsp;&nbsp;|~~~~~~~~~~~~~~~~~|<br>
            &nbsp;|||||||||||||||||||||<br>
            &nbsp;|+++++++++++++++++++|<br>
            ```````````````````````<br>
        </div>
        <div class="right_picture">
            <img class="inside_picture" src="../static/picture/klm.png" alt="klm" width="105" height="99"
                 style="border: 1px solid #8800ff;">
        </div>
    </div>
    <div class="scratch">
        <div class="scratch-text">
            <div class="dashed-line"></div>
            <div class="center-text">刮奖区</div>
            <div class="dashed-line"></div>
        </div>
        <div class="sidebar">
            <ul class="list-item-main">本期奖品如下</ul>
            <ul>
                <li class="list-item">神秘礼物</li>
                <li class="list-item">现金</li>
                <li class="list-item">盲盒</li>
                <li class="list-item">新的机会</li>
                <li class="list-item">百灵鸟</li>
            </ul>
        </div>
        <div id="warp">
            <canvas class="grid-item" id="can1"></canvas>
            <canvas class="grid-item" id="can2"></canvas>
            <canvas class="grid-item" id="can3"></canvas>
            <canvas class="grid-item" id="can4"></canvas>
            <canvas class="grid-item" id="can5"></canvas>
            <canvas class="grid-item" id="can6"></canvas>
            <canvas class="grid-item" id="can7"></canvas>
            <canvas class="grid-item" id="can8"></canvas>
            <canvas class="grid-item" id="can9"></canvas>
            <canvas class="grid-item" id="can10"></canvas>
            <canvas class="grid-item" id="can11"></canvas>
            <canvas class="grid-item" id="can12"></canvas>
            <canvas class="grid-item" id="can13"></canvas>
            <canvas class="grid-item" id="can14"></canvas>
            <canvas class="grid-item" id="can15"></canvas>
            <canvas class="grid-item" id="can16"></canvas>
            <canvas class="grid-item" id="can17"></canvas>
            <canvas class="grid-item" id="can18"></canvas>
            <canvas class="grid-item" id="can19"></canvas>
            <canvas class="grid-item" id="can20"></canvas>
        </div>
        <div class="tips">
            <a href="/828">
                <button class="left-button" id="return_main">返回主页</button>
            </a>
{#            <button class="mid-button" id="again_one" onclick="checkCondition()">再来一张</button>#}
            <button class="right-button" id="verify" onclick="get_scratch_result()">确认领取</button>
        </div>
    </div>
</div>
<script src="../static/js/mobile_operate.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/cake.js"></script>
</body>
</html>