<!DOCTYPE html>
<html>
<head>
  <style>
    #myImage {
      width: 200px;
      height: 200px;
      cursor: pointer;
    }

    .rotate {
      animation: rotate 2s linear infinite;
    }

    @keyframes rotate {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
  <img id="myImage" src="../static/picture/ygg_music.jpg" alt="Image">

  <script>
    var image = document.getElementById('myImage');
    var isRotating = false;

    image.addEventListener('click', function() {
      if (isRotating) {
        image.classList.remove('rotate');
        isRotating = false;
      } else {
        image.classList.add('rotate');
        isRotating = true;
      }
    });
  </script>
</body>
</html>